@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0
}

body {
    font-family: "微软雅黑";
    width: 100%;
    min-widt: 1200px;
    overflow: hidden
}

ul li {
    list-style: none
}

.blue {
    color: #31acfb;
    float: right;
    padding-right: 15%;
}

a {
    text-decoration: none
}


.main {
    width: 100%;
    background: url('/static/users/img/bk-login.png') no-repeat;
    background-size: 100% 100%;
    overflow: hidden
}

    .main0 {
    width: 80%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    margin-top: 140px;
    display: block;
}

.main_left {
    float: left;
    width: 50%;
    height: 100%;
    position: relative
}

.main_left img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.theimg {
    top: 12%;
    left: 32%
}

.secimg {
    top: 12%;
    left: 16%
}

.firimg {
    top: 12%;
    left: 8%
}

.main_right {
    width: 50%;
    height:100%;
    float: right;
}

.main_r_up {
    height: 8%;
    /*padding-top: 20px;*/
    padding-left: 36px;
}

.main_r_up img {
    padding-top: 2%;
    float: left;
}

.main_r_up .pp {
    float: left;
    height: 74px;
    line-height: 74px;
    font-size: 18px;
    color: #333;
    padding-left: 20px;
    letter-spacing: 9px;
}

.sub {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #cccccc;
    padding-right: 2%;
    padding-bottom: 2%;
}

.sub p {
    float: right;
    padding-bottom: 4px;
}

.txt {
    width: 100%;
    height: 40px;
    margin-top: 35px;
    float: right;

}

.txt span {
    width: 100%;
    font-size: 14px;
    color: #666;
    height: 40px;
    line-height: 40px;
    padding-left: 10%;
}

.txt input {
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 2%;
    margin-left: 2%
}

.txt input.txtphone {
    width: 50%;
}

.txt input.txtyzm {
    width: 140px;
    float: left
}

.txt img.yzmimg {
    float: left;
    margin-left: 15px
}

.xieyi {
    clear: both;
    padding-left: 15%;
    padding-top: 35px;
    font-size: 14px;
    color: #5a5a5a;
    height: 30px;
    line-height: 30px
}

.xiayibu {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #30adfa;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    cursor: pointer
}
@media screen and (max-width: 420px) {
    .main{
        height: 1000px;
    }
  .main_left {
    float: none;
      height: 50%;
    width: 100%;
  }
    .main_left img {
    /*padding-top: 30%;*/
        width: 45%;
    position: absolute;
    }
    .theimg {
        top: 2%;
        left: 32%
    }

    .secimg {
        top: 2%;
        left: 17%
    }

    .firimg {
        top: 2%;
        left: 2%
    }
  .main_right{
        float: none;
        width: 100%;
    }
}
