<!DOCTYPE HTML>
<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
<html>
<head>
<title>主页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<!-- 轮播图 -->
<div class="slider_bg">
<div class="wrap">
	<div class="slider">
				<!---start-da-slider----->
				<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>欢迎访问小白的秘密</h2>
					<p>岁月匆匆，一转眼，就老了。遇见过许多人，经历过许多事，在变老的路上，优雅从容；善待自己，开心过好每一天。放下一些执念，放下一些包袱，忘记不值得的，人生才会轻松，才能走更远的路。活成自己最喜欢的样子，脸上有灿烂的笑容，相信明天会更好。</p>
				</div>
				<div class="da-slide">
					<h2>欢迎访问小白的秘密</h2>
					<p>我要的爱情，不是短暂的温柔，而是一生的守候，不是一时的好感，而是坚持在一起，如果这辈子只做一件浪漫的事，那就是陪你慢慢变老。</p>
				</div>
				<div class="da-slide">
					<h2>欢迎访问小白的秘密</h2>
					<p>村上春树说：如果我爱你，而你也正巧爱我。你头发乱了时候，我会笑笑地替你拨一拨，然后，手还留恋地在你发上多待几秒。但是，如果我爱你，而你不巧地不爱我。你头发乱了，我只会轻轻地告诉你：“你头发乱了喔。”</p>
				</div>
				<div class="da-slide">
					<h2>欢迎访问小白的秘密</h2>
					<p>凌晨四点，我看见海棠花未眠。总觉得这时，你应该在我身边。---川端康成《花未眠》</p>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
 			<!---//End-da-slider----->
 	</div>
</div>
</div>
<!-- 轮播图 -->

</div>
</body>
</html>