<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark fixed-bottom">
    <!-- 底部 -->
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 川塔 2023</p >
    </div>
    <!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" >
        <li class="layui-nav-item layui-this">
            <a href="{% url 'common:home' %}"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="{% url 'article:article_list' %}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
        </li>
        <li class="layui-nav-item">
            <a href="{% url 'common:resource' %}"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
        </li>
        <li class="layui-nav-item">
            <a href="{% url 'common:timeline' %}"><i class="fa fa-road fa-fw"></i>&nbsp;展示台</a>
            <dl class="layui-nav-child">
                <dd><a href="{% url 'common:timeline' %}">时光树</a></dd>
                <dd> <a href="{% url 'common:picturewall'%}">照片墙 </a></dd>
                <dd> <a href="{% url 'common:musicland' %}">音乐天地</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="{% url 'common:about' %}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
        </li>
    </ul>

    <div class="blog-mask animated layui-hide"></div>
</footer>
</body>
</html>