<!DOCTYPE>
{% extends "base.html" %}
{% block title %} 用户信息修改 {% endblock title %}
{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>忘记密码</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/users/password.css' %}" />
<script type="text/javascript" src="{% static 'common/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
	var height=$(document).height();
	$('.main').css('height',height);
})
</script>
</head>

<body>
<div class="main">
  <div class="main0">
     <div class="formBox">
       <h3>登录密码重置</h3>
       <ul>
          <li class="mainCol firLi">身份验证</li>
          <li>登录密码重置</li>
          <li class="lastLi">重置完成</li>
       </ul>
       <img src="{% static 'img/users/line.png' %}" />
        <form action="." enctype="multipart/form-data"method="post">
            {% csrf_token %}
           <div class="itembox">
             <label>邮箱号码&nbsp;:</label>
             <input type="email" name="email" placeholder="请输入注册邮箱">
               <span style="color: red">{{ email_error }} </span>
           </div>
           <div class="btnBox">
               <button type="submit" >下一步</button>
           </div>
         </form>
     </div>
  </div>
</div>

</body>
</html>
{% endblock content %}