<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}
{% block title %} 用户信息修改 {% endblock title %}
{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>忘记密码</title>
<link type="text/css" rel="stylesheet" href="{% static 'css/users/password.css' %}" />
<script type="text/javascript" src="{% static 'common/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
	var height=$(document).height();
	$('.main').css('height',height);
})
</script>
</head>

<body>
<div class="main">
  <div class="main0">
     <div class="formBox">
        {% for user in users %}
            <h3>密码修改(当前用户：{{ user.username }})</h3>
          {% endfor %}


         <form action="." enctype="multipart/form-data" method="post">
             {% csrf_token %}

       <div class="itembox itembox_2">
         <label>旧密码 &nbsp;:</label>
         <input type="password" name="old_pwd" placeholder="请输入当前登录密码"></span>
           {{ old_password_error }}
       </div>
       <div class="itembox itembox_2">
         <label>新密码&nbsp;:</label>
         <input type="password"  name="new_pwd" placeholder="请输入新的登录密码"></span>
           {{ password_error }}
       </div>
       <div class="itembox itembox_2">
         <label>确认密码&nbsp;:</label>
         <input type="password" name="new_pwd1" placeholder="请再次输入新密码"></span>
       </div>
       <div class="btnBox">
           <button type="submit" >确认修改</button>
       </div>
         </form>
     </div>
  </div>
</div>
</body>
</html>
{% endblock content %}